<div class="page-header">
    <h1>{{name}} <small>Class</small></h1>
</div>

<div class="well well-small">
    {{#if uses}}
        <div class="uses">
            Uses
            <ul class="inline commas">
                {{#uses}}
                    <li><a href="{{.}}.html">{{.}}</a></li>
                {{/uses}}
            </ul>
        </div>
    {{/if}}

    {{#if extends}}
        <div class="extends">
            Extends {{#crossLink extends}}{{/crossLink}}
        </div>
    {{/if}}

    {{#if foundAt}}
        <div class="foundat">
            Defined in: <a href="{{foundAt}}">`{{{file}}}:{{{line}}}`</a>
        </div>
    {{/if}}

    {{#if module}}
        {{#if submodule}}
            Module: {{#crossLinkModule submodule}}{{/crossLinkModule}}<br>
            Parent Module: {{#crossLinkModule module}}{{/crossLinkModule}}
        {{else}}
            Module: {{#crossLinkModule module}}{{/crossLinkModule}}
        {{/if}}
    {{/if}}

    {{#if since}}
        <p>Available since {{since}}</p>
    {{/if}}
</div>

{{#if deprecated}}
    <div class="well well-small">
        <p>
        {{#if deprecationMessage}}
            <strong>Deprecated:</strong> {{deprecationMessage}}
        {{else}}
            This class is deprecated.
        {{/if}}
        </p>
    </div>
{{/if}}
{{#if classDescription}}
<div class="well well-small">
    {{{classDescription}}}
</div>
{{/if}}

{{#is_constructor}}
    <div class="constructor">
        <h2>Constructor</h2>
{{>method}}
    </div>
{{/is_constructor}}

<div>
    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="tab" href="#index">Index</a></li>

        {{#if methods}}
            <li><a data-toggle="tab" href="#methods">Methods</a></li>
        {{/if}}
        {{#if properties}}
            <li><a data-toggle="tab" href="#properties">Properties</a></li>
        {{/if}}
        {{#if attrs}}
            <li><a data-toggle="tab" href="#attrs">Attributes</a></li>
        {{/if}}
        {{#if events}}
            <li><a data-toggle="tab" href="#events">Events</a></li>
        {{/if}}
    </ul>

    <div class="tab-content">
        <div id="index" class="tab-pane active">
            <h2 class="off-left">Item Index</h2>

            {{#if methods}}
                <div class="list-group methods">
                    <div class="list-group-item list-group-item-info">Methods</div>
                        {{#methods}}
                                <a class="list-group-item" href="#" data-tabid="#methods" data-anchor="#method_{{name}}" data-tablink="{{name}}">
                                <span class="glyphicon glyphicon-chevron-right"></span> {{name}}

                                {{#if static}}
                                    <span class="flag static">static</span>
                                {{/if}}
                                {{#if deprecated}}
                                    <span class="label label-danger">deprecated</span>
                                {{/if}}
                            </a>
                        {{/methods}}
                </div>
            {{/if}}

            {{#if properties}}
                <div class="list-group properties">
                    <div class="list-group-item list-group-item-warning">Properties</div>
                        {{#properties}}
                          <a class="list-group-item" href="#" data-tabid="#properties" data-anchor="#property_{{name}}" data-tablink="{{name}}">
                                <span class="glyphicon glyphicon-chevron-right"></span> {{name}}

                                {{#if static}}
                                    <span class="flag static">static</span>
                                {{/if}}
                                {{#if deprecated}}
                                    <span class="flag deprecated">deprecated</span>
                                {{/if}}
                            </a>
                        {{/properties}}
                </div>
            {{/if}}

            {{#if attrs}}
                <div class="list-group attrs">
                    <div class="list-group-item list-group-item-danger">Attributes</div>
                        {{#attrs}}
                          <a class="list-group-item" href="#" data-tabid="#attrs" data-anchor="#attr_{{name}}" data-tablink="{{name}}"><span class="glyphicon glyphicon-chevron-right"></span> {{name}}</a>
                        {{/attrs}}
                    </div>
                </div>
            {{/if}}

            {{#if events}}
                <div class="index-section events">
                    <div class="list-group-item list-group-item-success">Events</div>
                        {{#events}}
                                <a class="list-group-item" href="#" data-tabid="#events" data-anchor="#event_{{name}}" data-tablink="{{name}}"><span class="glyphicon glyphicon-chevron-right"></span> {{name}}

                                {{#if static}}
                                    <span class="flag static">static</span>
                                {{/if}}
                                {{#if deprecated}}
                                    <span class="flag deprecated">deprecated</span>
                                {{/if}}
                                </a>
                        {{/events}}
                   </div>
            {{/if}}
        </div>

        {{#if methods}}
            <div id="methods" class="tab-pane">
                <h2 class="off-left">Methods</h2>

                {{#methods}}
{{>method}}
                {{/methods}}
            </div>
        {{/if}}

        {{#if properties}}
            <div id="properties" class="tab-pane">
                <h2 class="off-left">Properties</h2>

                {{#properties}}
                    {{>props}}
                {{/properties}}
            </div>
        {{/if}}

        {{#if attrs}}
            <div id="attrs" class="tab-pane">
                <h2 class="off-left">Attributes</h2>

                {{#attrs}}
                    {{>attrs}}
                {{/attrs}}
            </div>
        {{/if}}

        {{#if events}}
            <div id="events" class="tab-pane">
                <h2 class="off-left">Events</h2>

                {{#events}}
                    {{>events}}
                {{/events}}
            </div>
        {{/if}}
    </div>
</div>
