<div class="page-header">
    <h1>{{name}} <small>Module</small></h1>
</div>

{{#if foundAt}}
    <div class="foundat">
        Defined in:<code><a href="{{foundAt}}">`{{{file}}}:{{{line}}}`</a></code>
    </div><br>
{{/if}}

{{#if requires}}
    <div class="clearfix well well-small">
       {{#if requires}}
            <div class="uses">
                <strong>Requires</strong>
                {{#requires}}
                    <span class="label label-primary">{{#crossLinkModule .}}{{/crossLinkModule}}</span>
                {{/requires}}
            </div>
        {{/if}}

        {{#if since}}
            <p><strong>Available since</strong> {{since}}</p>
        {{/if}}
    </div>
{{/if}}

{{#if deprecated}}
<div class="alert alert-danger">
    {{#if deprecationMessage}}
        <strong>Deprecated</strong>
        {{deprecationMessage}}
    {{else}}
        This module is deprecated.
    {{/if}}
</div>
{{/if}}

<div class="moduledesc well well-small">
    {{{moduleDescription}}}
</div>

{{#extra}}
    {{#selleck}}
      <div class="moduledesc well well-small">
        <a class="button link-docs" href="/yui/docs/{{name}}">User Guide &amp; Examples</a>
      </div>
    {{/selleck}}
{{/extra}}

{{#example}}
    <div class="example">
        <h4>Example:</h4>
        <div class="example-content">
            {{{.}}}
        </div>
    </div>
{{/example}}

<div class="yui3-g">
    <div class="yui3-u-1-2">
        {{#if moduleClasses}}
            <div class="list-group">
                <div class="list-group-item list-group-item-success">
                    Classes:
                </div>
            {{#moduleClasses}}
                <a href="{{../projectRoot}}classes/{{name}}.html" class="list-group-item">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  {{displayName}}
                </a>
            {{/moduleClasses}}
            </div>
        {{/if}}
    </div>

    <div class="yui3-u-1-2">
        {{#if subModules}}
            <p>This module is a rollup of the following modules:</p>

            <div class="list-group">
            {{#subModules}}
                <a href="{{../projectRoot}}modules/{{name}}.html" class="list-group-item active">
                  <h4 class="list-group-item-heading">{{displayName}}</h4>
                  <p class="list-group-item-text">{{{description}}}</p>
                </a>
            {{/subModules}}
            </div>
        {{/if}}
    </div>
</div>