<div>
    <h3><b>APIs</b></h3>
    <div id="api-tabview-filter">
        <input class="form-control" type="search" placeholder="Search for classes/modules...">
    </div>
    <div id="sidebar">
        <ul id="main-nav" class="nav nav-tabs">
            <li class="active"><a href="#classes" data-toggle="tab">Classes</a></li>
            <li><a href="#modules" data-toggle="tab">Modules</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="classes">
                <ul id="api-classes" class="nav nav-list">
                    {{#publicClasses classes}}
                        <li><a href="{{../projectRoot}}classes/{{name}}.html">{{displayName}}</a></li>
                    {{/publicClasses}}
                </ul>
            </div>
            <div class="tab-pane" id="modules">
                <ul id="api-modules" class="nav nav-list">
                    {{#allModules}}
                        <li><a href="{{../projectRoot}}modules/{{name}}.html">{{displayName}}</a></li>
                    {{/allModules}}
                </ul>
            </div>
        </div>
    </div>
</div>
